* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

* {
  font-family: "Hind Vadodara", sans-serif;
}

a {
  text-decoration: none;
  color: #331b3b;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.img-bg-pink {
  position: absolute;
  top: -15%;
  right: -15%;
  width: 50%;
  max-height: 950px;
}
@media (max-width: 1200px) {
  .img-bg-pink {
    top: -150px;
  }
}
@media (max-width: 1059px) {
  .img-bg-pink {
    top: -5%;
  }
}
@media (max-width: 959px) {
  .img-bg-pink {
    top: -3%;
  }
}
@media (max-width: 860px) {
  .img-bg-pink {
    top: -4%;
  }
}
@media (max-width: 780px) {
  .img-bg-pink {
    top: -3%;
  }
}
@media (max-width: 660px) {
  .img-bg-pink {
    transform: scale(1.1);
    top: -2%;
  }
}
@media (max-width: 320px) {
  .img-bg-pink {
    width: 220px;
    height: 250px;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .nav {
    margin: 0 20px;
  }
}
.nav .btn-icon {
  display: none;
  font-size: 30px;
}
@media (max-width: 800px) {
  .nav .btn-icon {
    justify-self: start;
    display: block;
  }
}
.nav .list-menu {
  display: flex;
  gap: 20px;
  font-size: 16px;
}
@media (max-width: 800px) {
  .nav .list-menu {
    display: none;
    grid-column: 1/-1;
    grid-row: 2;
    text-align: center;
  }
  .nav .list-menu.active {
    display: block;
    margin-bottom: 15px;
  }
}
.nav .list-menu .menu-item {
  min-width: max-content;
}
.nav .list-menu .menu-item:nth-child(1) {
  position: relative;
  font-weight: 600;
}
.nav .list-menu .menu-item:nth-child(1)::after {
  width: 50%;
  height: 2px;
  content: "";
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fdc021;
}
@media (max-width: 800px) {
  .nav .list-menu .menu-item:nth-child(1)::after {
    display: none;
  }
}
.nav .box-logo {
  min-width: 200px;
}
@media (max-width: 400px) {
  .nav .box-logo {
    min-width: auto;
  }
}
.nav .box-logo .text-logo {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}
@media (max-width: 480px) {
  .nav .box-logo .text-logo {
    font-size: 20px;
  }
}
.nav .container-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.nav .container-icons .box-icon-rotated {
  padding: 0 3px;
}
.nav .container-icons .link-icon {
  display: block;
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  transform: rotate(30deg);
}
.nav .container-icons .link-icon .icon {
  transform: rotate(-30deg);
}
@media (max-width: 480px) {
  .nav .container-icons .link-icon {
    padding: 6px;
  }
}

.header {
  margin-bottom: min(10%, 150px);
}

.section-hero {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
@media (max-width: 1600px) {
  .section-hero {
    margin: 0 20px 150px;
  }
}
@media (max-width: 1059px) {
  .section-hero {
    top: 15%;
  }
}
@media (max-width: 768px) {
  .section-hero {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .section-hero {
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .section-hero {
    margin-bottom: 50px;
  }
}
.section-hero .container {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .section-hero .container {
    grid-template-columns: 100%;
    gap: 50px;
  }
}
.section-hero .col-text {
  margin-right: 15%;
}
@media (max-width: 768px) {
  .section-hero .col-text {
    margin-right: 0;
  }
}
.section-hero .col-text .box-text-slogan {
  width: 600px;
}
@media (max-width: 1200px) {
  .section-hero .col-text .box-text-slogan {
    width: 540px;
  }
}
@media (max-width: 1059px) {
  .section-hero .col-text .box-text-slogan {
    width: 450px;
  }
}
@media (max-width: 860px) {
  .section-hero .col-text .box-text-slogan {
    width: 340px;
  }
}
.section-hero .col-text .text-slogan {
  font-weight: 300;
  font-size: 87px;
  line-height: 1;
}
@media (max-width: 1200px) {
  .section-hero .col-text .text-slogan {
    font-size: 75px;
  }
}
@media (max-width: 1059px) {
  .section-hero .col-text .text-slogan {
    font-size: 65px;
  }
}
@media (max-width: 860px) {
  .section-hero .col-text .text-slogan {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .section-hero .col-text .text-slogan {
    font-size: 45px;
  }
}
.section-hero .col-text .text-slogan::first-line {
  font-weight: 700;
}
.section-hero .col-text .text-slogan .text-underline {
  position: relative;
}
.section-hero .col-text .text-slogan .text-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 1px;
  bottom: 20%;
  background-color: #fdc021;
  z-index: -1;
}
@media (max-width: 768px) {
  .section-hero .col-text .box-text-description {
    width: 70%;
    min-width: 300px;
  }
}
.section-hero .col-text .text-description {
  margin: 27px 0 31px;
  line-height: 1.5;
  font-size: 17px;
}
@media (max-width: 1200px) {
  .section-hero .col-text .text-description {
    font-size: 15px;
  }
}
.section-hero .col-text .btn-start {
  padding: 22px 49px 21px;
  background-color: #331b3b;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .section-hero .col-text .btn-start {
    font-size: 15px;
    padding: 15px 36px 14px;
  }
}

.col-img {
  position: relative;
  min-width: 300px;
}
@media (max-width: 1059px) {
  .col-img {
    top: 15%;
  }
}
@media (max-width: 768px) {
  .col-img {
    min-height: 400px;
    width: 60%;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 600px) {
  .col-img {
    min-height: 300px;
    top: 100px;
  }
}
@media (max-width: 370px) {
  .col-img {
    transform: translateX(-53%);
  }
}
.col-img .img-bg-yellow {
  position: absolute;
  top: -110px;
  right: 55%;
  transform: translateX(50%);
  width: 65%;
  aspect-ratio: 1/1.45;
}
@media (max-width: 600px) {
  .col-img .img-bg-yellow {
    top: -50px;
  }
}
.col-img .img-bg-line {
  position: absolute;
  top: -7%;
  right: 30%;
  width: 75%;
  aspect-ratio: 1;
}
@media (max-width: 860px) {
  .col-img .img-bg-line {
    top: -15%;
  }
}
@media (max-width: 600px) {
  .col-img .img-bg-line {
    top: -5%;
  }
}
.col-img .img-people {
  position: absolute;
  top: -60px;
  right: 0;
  width: 105%;
}
@media (max-width: 600px) {
  .col-img .img-people {
    top: -20px;
  }
}

.section-services {
  padding: 92px 0 97px 140px;
  position: relative;
  margin-bottom: 130px;
}
@media (max-width: 870px) {
  .section-services {
    padding-left: 5%;
  }
}
@media (max-width: 800px) {
  .section-services {
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .section-services {
    padding-left: 0;
  }
}
.section-services::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  border-top-right-radius: 400px;
  background-color: #ecf7ff;
  z-index: -1;
}
@media (max-width: 768px) {
  .section-services::before {
    width: 100%;
  }
}
.section-services .title-services {
  font-weight: 300;
}
.section-services .title-services .text-bold {
  font-weight: 700;
}
.section-services .title-services {
  margin-bottom: 95px;
  text-align: center;
  font-size: 48px;
  line-height: 1.0625;
}
@media (max-width: 480px) {
  .section-services .title-services {
    font-size: 40px;
  }
}
.section-services .title-services .text-underline {
  position: relative;
  z-index: 5;
}
.section-services .title-services .text-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 1px;
  bottom: 20%;
  background-color: #fdc021;
  z-index: -1;
}
.section-services .container-slider {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}
@media (max-width: 870px) {
  .section-services .container-slider {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 600px) {
  .section-services .container-slider {
    padding-left: 5%;
  }
}
.section-services .container-slider .box-btns-slider {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}
@media (max-width: 870px) {
  .section-services .container-slider .box-btns-slider {
    width: 100vw;
  }
}
.section-services .container-slider .box-btns-slider .btn-prev-slide,
.section-services .container-slider .box-btns-slider .btn-next-slide {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid black;
}
@media (max-width: 870px) {
  .section-services .container-slider .box-btns-slider .btn-prev-slide,
  .section-services .container-slider .box-btns-slider .btn-next-slide {
    flex-grow: 0;
  }
}
.section-services .container-slider .box-btns-slider .btn-prev-slide img,
.section-services .container-slider .box-btns-slider .btn-next-slide img {
  width: 8px;
  height: 14px;
}
.section-services .container-slider .box-slides {
  display: flex;
  gap: min(5%, 41px);
  flex-shrink: 0;
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.section-services .container-slider .box-slides .box-slide {
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  width: min(23vw, 308px);
  padding: 17px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .section-services .container-slider .box-slides .box-slide {
    width: 30%;
    flex-shrink: 0;
  }
}
@media (max-width: 870px) {
  .section-services .container-slider .box-slides .box-slide {
    width: 25%;
    flex-shrink: 0;
  }
}
.section-services .container-slider .box-slides .box-slide.hide {
  animation: hide 1 0.3s linear both;
}
.section-services .container-slider .box-slides .box-slide.show {
  animation: hide 1 0.3s linear both reverse;
}
.section-services .container-slider .box-slides .box-slide [class^=box-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  padding: 10px;
  border-radius: 10px;
}
.section-services .container-slider .box-slides .box-slide [class^=box-icon] .icon {
  width: 30px;
  height: 30px;
}
@media (max-width: 800px) {
  .section-services .container-slider .box-slides .box-slide [class^=box-icon] .icon {
    width: 20px;
    height: 20px;
  }
}
.section-services .container-slider .box-slides .box-slide .box-icon-design {
  background-color: rgb(255, 222, 212);
}
.section-services .container-slider .box-slides .box-slide .box-icon-dev {
  background-color: rgb(255, 238, 212);
}
.section-services .container-slider .box-slides .box-slide .box-icon-mobile {
  background-color: rgb(212, 240, 255);
}
.section-services .container-slider .box-slides .box-slide .box-icon-marketing {
  background-color: rgb(255, 212, 212);
}
.section-services .container-slider .box-slides .box-slide .title-slide {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
@media (max-width: 800px) {
  .section-services .container-slider .box-slides .box-slide .title-slide {
    font-size: 13px;
  }
}
.section-services .container-slider .box-slides .box-slide .text-slide {
  font-size: 15px;
  color: rgba(51, 27, 59, 0.66);
}
.section-services .img-bg-circle {
  position: absolute;
  bottom: -10%;
  right: 2%;
  z-index: -2;
}/*# sourceMappingURL=style.css.map */