body {
  margin: 0 auto;
  overflow-x: hidden;
}

.img-bg-pink {
  position: absolute;
  top: -15%;
  right: -15%;
  width: 50%;
  max-height: 950px;
  @media (max-width: 1200px) {
    top: -150px;
  }
  @media (max-width: 1059px) {
    top: -5%;
  }
  @media (max-width: 959px) {
    top: -3%;
  }
  @media (max-width: 860px) {
    top: -4%;
  }
  @media (max-width: 780px) {
    top: -3%;
  }
  @media (max-width: 660px) {
    transform: scale(1.1);
    top: -2%;
  }
  @media (max-width: 320px) {
    width: 220px;
    height: 250px;
  }
}
